<h1> Request to rent a Cat! </h1>

<%= @request.errors.full_messages %>
<form action="<%=cat_rental_requests_url%>" method="post">
  <input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">

  <select name="request[cat_id]", id="cat_id">
    <% @cats.each do |cat| %>
    <option value="<%=cat.id%>" <%= "selected" if @request.cat_id == cat.id %>> <%=cat.name%></option>
    <%end%>
  </select>
  <br>

  <input type="date" name="request[start_date]" id="request_start_date"  value="<%=@request.start_date%>">
  <br>

  <input type="date" name="request[end_date]" id="request_end_date"  value="<%=@request.end_date%>">
  <br>

  <input type="submit" value="Submit Request">

</form>
