<% form_method = @cat.persisted? ? "patch" : "post" %>
<% action_url = @cat.persisted? ? cat_url(@cat) : cats_url %>

<form action="<%=action_url%>" method="post">
  <input type="hidden" name="_method" value="<%=form_method%>">
  <input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">
  <label for="cat_name"> Name</label>
  <input type="text" id="cat_name" name="cat[name]" value="<%=@cat.name%>">
  <br>
  <label for="cat_color"> Color</label>
  <select name="cat[color]" id="cat_color">
    <option value="blank" <%= "selected" if @cat.color.nil? %> >blank</option>
    <% Cat::COLORS.each do |color| %>
    <option value="<%=color%>" <%= "selected" if @cat.color == color %>> <%=color%></option>

    <% end %>
  </select>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
  <label for="cat_sex_female">Female</label>
  <br>

  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
  <label for="cat_sex_male">Male</label>
  <br>

  <label for="cat_birth_date"> Date of Birth </label>
  <input type="date" name="cat[birth_date]" id="cat_birth_date"  value="<%=@cat.birth_date%>">
  <br>

  <label for="cat_description"> Description</label>
  <textarea name="cat[description]" id="cat_description" ><%=@cat.description%></textarea>
<br>
  <input type="submit" value="Submit cat">
</form>
