
<h1><%= @cat.name %></h1>

<table style="width:100%">
  <tr>
    <th>name</th>
    <th>birth_date</th>
    <th>Sex</th>
    <th>color</th>
    <th>description</th>
  </tr>
  <tr>
    <th><%= @cat.name%></th>
    <th><%=@cat.birth_date%></th>
    <th><%=@cat.sex%></th>
    <th><%= @cat.color%></th>
    <th><%= @cat.description%></th>
  </tr>
</table>

<table style="width:100%">
  <tr>
    <th> REQUESTS</th>
  <% @requests.each do |request| %>
    <tr>
      <th> <%=request.start_date%></th>
      <th> <%= request.end_date%></th>
      <th> <%=request.status%></th>
      <th>
        <% if request.pending? %>
        <form action="<%= cat_rental_request_deny_url(request) %>" method="post">
        <input type="hidden" name="_method" value="patch">

        <button>Deny Request</button>
        </form>
        <% end %> </th>
      <th> <% if request.pending? %>
        <form action="<%= cat_rental_request_approve_url(request) %>" method="post">
        <input type="hidden" name="_method" value="patch">

        <button>Approve Request</button>
      </form>
      <% end %></th>

    </tr>
    <% end %>
  </table>


<a href="<%=cats_url%>"> Index </a>
